* {
    font-family: monospace;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#board {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 15px;
    color: white;
    background-color: rgba(255, 255, 255, .6);
    border-bottom-left-radius: 5px;
}

#board ul {
    margin: 0;
    padding: 5px;
    list-style: none;
}

#board .status .reconnecting,
#board .status .connecting {
    color: orange;
}

#board .status .connected {
    color: green;
}

#board .status .offline,
#board .status .error {
    color: red;
}

#output {
    width: 100%;
    height: 100%;
    display: block;
    position:absolute;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    padding-bottom: 21px;
    box-sizing: border-box;
    font-size: 10pt;
    background-color: black;
    color: white;
}

#output .list {
    color: orange;
}

#output .description {
    color: orange;
}

#output .user {
    margin-right: 8px;
}

#output .path {
    margin-left: -8px;
    margin-right: 8px;
}

#output .tab-20 {
    width: 20px;
    display: inline-block;
}

#output .error {
    color: red;
}

#output .success {
    color: green;
}

#input {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin:0;
    padding:0;
    border: none;
    font-size: 10pt;
    background-color: black;
    color: white;
}

#input:focus{
    outline: 0;
}

